.number {
    text-align: right !important;
}

.sonata-bc .block-newsletter {
    background-color: #f5f5f5;
    padding: 20px 20px 10px;
    margin: -20px -20px 20px;
}

.sonata-bc .block-newsletter input[type="email"] {
    margin-bottom: 0px;
}

.sonata-bc .block-newsletter p {
    font-size: 14px;
    font-weight: bold;
}

.sonata-bc .page-footer {
    background-color: #dedede;
    padding: 20px 20px 10px;
    margin: -40px -20px 20px;
}

.sonata-bc .page-footer ul li {
    list-style: none;
    text-transform: uppercase;
    text-align: left;
    line-height: 25px;
}

.sonata-bc .page-footer p.handcraft {
    margin-top: 80px;
}