.number {
    text-align: right !important;
}

.sonata-bc .block-newsletter {
    text-align: center;
}

.sonata-bc .block-newsletter input[type="email"] {
    margin-bottom: 0px;
}

.sonata-bc .block-newsletter p {
    font-size: 14px;
    font-weight: bold;
}

.sonata-bc .page-footer {
    background-color: #dedede;
    margin-top: 10px;
}

.sonata-bc .page-footer ul li {
    list-style: none;
    text-transform: uppercase;
    text-align: left;
    line-height: 25px;
}

.sonata-bc .page-footer p.handcraft {
    margin-top: 80px;
}

/*
 * Basket
 */
.basket .unavailable .help-inline {
    color: #b94a48;
    font-weight: bold;
    vertical-align: inherit;
}

/*
 * Product catalog
 */
.sonata-product-navigation-bar {
    background-color: #f5f5f5;
    border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px;
    padding: 10px;
    margin-bottom: 30px;
}
.sonata-product-navigation-bar .pagination {
    margin: 0 !important;
}
.no-products-available {
    padding: 100px;
    font-weight: bold;
    text-align: center;
}
.product-grid {
    padding-left: 10px;
}
.product-grid .product-thumbnail {
    min-height: 100px;
    max-height: 100px;
    text-align: center;
}

/*
 * News
 */
h2.sonata-blog-post-title {
    font-size: 22px;
}

.sonata-blog-post-abtract {
    margin-top: 10px;
}

.sonata-blog-post-list hr {
    margin: 20px 0px 5px 0px;
}
