<h1>Terms and Conditions</h1>

<div class='alert alert-default alert-info'>
    <p>This page should contain your “Terms and Conditions” policy. Feel free to override it. This file can be found in <code>@SonataPayment/Payment/terms.html.twig</code>.</p>
</div>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quae cum essent dicta, finem fecimus et ambulandi et disputandi. Duo Reges: constructio interrete. Itaque eos id agere, ut a se dolores, morbos, debilitates repellant. Quae cum dixisset paulumque institisset, Quid est? At iam decimum annum in spelunca iacet. Tibi hoc incredibile, quod beatissimum. Conferam avum tuum Drusum cum C. </p>
<p>Si quicquam extra virtutem habeatur in bonis. Idemque diviserunt naturam hominis in animum et corpus. Aliter homines, aliter philosophos loqui putas oportere? Videmusne ut pueri ne verberibus quidem a contemplandis rebus perquirendisque deterreantur? Cur ipse Pythagoras et Aegyptum lustravit et Persarum magos adiit? Sed ille, ut dixi, vitiose. </p>
<p>Atque his de rebus et splendida est eorum et illustris oratio. Ergo illi intellegunt quid Epicurus dicat, ego non intellego? Quamquam ab iis philosophiam et omnes ingenuas disciplinas habemus; Videamus animi partes, quarum est conspectus illustrior; Non est igitur summum malum dolor. </p>
