.DS_Store
/behat.yml
/app/cache/*
/app/logs/*
/app/*.cache
/web/bundles
/web/uploads
/web/sitemap*.xml
/app/config/parameters*.yml
/vendor
/build
/composer.lock
/web/vendor
/web/assetic/*[0-9]*
.vagrant
.docker/*.tar
.idea