.DS_Store
.idea
behat.yml
apps/app/cache
apps/app/logs
apps/app/*.cache
apps/api/cache
apps/api/logs
apps/api/*.cache
web/bundles
web/uploads
web/app/bundles/*
web/app/uploads/*
web/api/bundles/*
web/api/uploads/*
web/app/sitemap*.xml
apps/config/parameters*.yml
vendor
nbproject
composer.lock
build
junit
