default:
    suites:

frontend:
    suites:
        frontend:
            paths:    [ '%paths.base%/features/frontend' ]
            contexts:
                - FeatureContext:
                      parameters:
                          base_url:  'https://127.0.0.1:8000'
                          files_path: .
                - BrowserContext:
            filters:
                tags: "~@skipped&&~@api"
    extensions:
        Behat\MinkExtension:
            base_url:  'https://127.0.0.1:8000'
            goutte:     ~
            files_path: .

    formatters:
        pretty: [build/pretty]


backend:
    suites:
        backend:
            paths:    [ '%paths.base%/features/backend' ]
            contexts:
                - FeatureContext:
                      parameters:
                          base_url:  'https://127.0.0.1:8000'
                          files_path: .
                - BrowserContext:
            filters:
                tags: "~@skipped&&~@api"

    extensions:
        Behat\MinkExtension:
            base_url:  'https://127.0.0.1:8000'
            goutte:     ~
            files_path: .

    formatters:
        pretty: [build/pretty]


api:
    extensions:
        Behat\MinkExtension:
            base_url:  'https://127.0.0.1:8000'
            goutte:     ~
            files_path: .
    formatters:
        pretty: [build/pretty]
    suites:
        default:
            paths:    [ '%paths.base%/features/api' ]
            contexts:
                - BrowserContext:
                - FeatureContext:
                      parameters:
                          base_url:  'https://127.0.0.1:8000'
                          files_path: .
                - ApiFeatureContext:
                      parameters:
                          base_url:  'https://127.0.0.1:8000'
                          files_path: .
                - WebApiContext:
                      baseUrl:  'https://127.0.0.1:8000'


            tags: "~@skipped&&@api"

wip:
    suites:
        default:
            contexts:
                - BrowserContext:
                - FeatureContext:
                      parameters:
                          base_url:  'https://127.0.0.1:8000'
                          files_path: .
            filters:
                    tags: "@skipped"
