{% extends '::empty.html.twig' %}

{% form_theme form _self %}


{% block content %}
    <h2>Car Type</h2>
    <h3>Object</h3>
    <div>
        {{ dump|raw }}
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Form Version</h3>
        </div>
        <div class="panel-body">
            <form method="POST" class="form-horizontal">
                {{ form_rest(form) }}
                <div class="form-actions">
                    <input type="submit" class="btn btn-primary pull-right" />
                </div>
            </form>
        </div>
    </div>
    <div>
    </div>
{% endblock %}


{% block _sonata_demo_form_type_car_rescueEngine_label %}
    {{ block('form_label') }}
{% endblock %}
