{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}


{#
    Default product template file, you can
      => customize the global template : Product:Product:view.twig
      => rewrite your own template
#}

{% extends 'SonataProductBundle:Product:view.html.twig' %}

{% block product_title %}{{ product.name }}{% endblock %}

{% block product_description %}
    {{ product.description|raw }}
{% endblock %}

{% block product_gallery %}Product gallery{% endblock %}

{% block product_delivery %}{% endblock %}

{% block  product_variations_form_block %}
    <div class="row">
        <div class="col-lg-12">
            {{ sonata_block_render({'type': 'sonata.product.block.variations_form'}, {'product': product, 'variations_properties': ['travellers', 'travelDays']}) }}
        </div>
    </div>
{% endblock %}