imports:
    - { resource: parameters.yml }
    - { resource: security.yml }

    # Sonata Bundles
    - { resource: sonata/sonata_admin.yml }
    - { resource: sonata/sonata_page.yml }
    - { resource: sonata/sonata_block.yml }
    - { resource: sonata/sonata_media.yml }
    - { resource: sonata/sonata_formatter.yml }
    - { resource: sonata/sonata_news.yml }
    - { resource: sonata/sonata_cache.yml }
    - { resource: sonata/sonata_seo.yml }
    - { resource: sonata/sonata_user.yml }
    - { resource: sonata/sonata_notification.yml }
    - { resource: sonata/sonata_price.yml }
    - { resource: sonata/sonata_timeline.yml }
    - { resource: sonata/sonata_intl.yml }
    - { resource: sonata/sonata_core.yml }

    # Sonata e-commerce bundles
    - { resource: sonata/sonata_order.yml }
    - { resource: sonata/sonata_payment.yml }
    - { resource: sonata/sonata_product.yml }
    - { resource: sonata/sonata_invoice.yml }
    - { resource: sonata/sonata_delivery.yml }
    - { resource: sonata/sonata_customer.yml }
    - { resource: sonata/sonata_basket.yml }

    # Mopa Bootstrap
    - { resource: mopa/mopa_bootstrap.yml }

    # Knp Paginator
    - { resource: knp/knp_paginator.yml }

    # FOS Rest
    - { resource: fos/fos_rest.yml }
    - { resource: nelmio/nelmio_apidoc.yml }
    - { resource: bazinga/bazinga_hateoas.yml }

framework:
    #esi:             ~
    translator:
        fallback: en
    secret:          %secret%
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            true
    csrf_protection: true
    validation:
        enable_annotations: true
    templating:
        engines: ['twig']
        #assets_version: SomeVersionScheme

    default_locale:  %locale%
    session:         ~
    fragments:       ~
    trusted_proxies: ~
    http_method_override: true

# Twig Configuration
twig:
    debug:            %kernel.debug%
    strict_variables: %kernel.debug%

    form:
        resources:
            - 'SonataFormatterBundle:Form:formatter.html.twig'
            - 'SonataMediaBundle:Form:media_widgets.html.twig'

# Assetic Configuration
assetic:
    debug:          %kernel.debug%
    use_controller: false
    filters:
        cssrewrite: ~
        # closure:
        #     jar: %kernel.root_dir%/java/compiler.jar
        # yui_css:
        #     jar: %kernel.root_dir%/java/yuicompressor-2.4.2.jar

        # Comment out those lines if you wish to use the less version of bootstrap
#        less:
#            node: /usr/local/bin/node
#            node_paths: [/usr/local/node/node-v0.10.22/lib/node_modules]
#            apply_to: "\.less$"

# Doctrine Configuration
doctrine:
    dbal:
        default_connection: default

        connections:
            default:
                driver:   %database_driver%
                dbname:   %database_name%
                user:     %database_user%
                host:     %database_host%
                password: %database_password%

        types:
            json:     Sonata\Doctrine\Types\JsonType
            currency: Sonata\Component\Currency\CurrencyDoctrineType

    orm:
        auto_generate_proxy_classes: %kernel.debug%
        default_entity_manager: default

        entity_managers:
            default:
                auto_mapping: true
                mappings: ~

# Swiftmailer Configuration
swiftmailer:
    transport: %mailer_transport%
    host:      %mailer_host%
    username:  %mailer_user%
    password:  %mailer_password%

jms_security_extra:
    secure_all_services: false
