<div class="row">
    <div class="card">
        <div class="card-body bg-grey">

            <p>Want to stay in touch with us? Subscribe to our monthly newsletter.</p>

            <form class="form-inline">
                <div class="form-group mx-sm-3 mb-2">
                    <label for="inputPassword2" class="sr-only">Password</label>
                    {{ form_widget(form.email) }}
                </div>
                <button type="submit" class="btn btn-primary mb-2"><i class="glyphicon glyphicon-envelope"></i>&nbsp; Subscribe</button>
            </form>
        </div>
    </div>
</div>
<div id="newsletter-confirmation"></div>
