{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

<div class="alert alert-default">
    <strong>This is the media gallery list page</strong>
    <div>Feel free to override it. This template can be found in <code>SonataMediaBundle:Gallery:index.html.twig</code>.</div>
</div>

<ul>
    {% for gallery in galleries %}
        <li><a href="{{ url('sonata_media_gallery_view', {'id' : gallery|sonata_urlsafeid }) }}">{{ gallery.name }}</a></li>
    {% endfor %}
</ul>
