{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% if similar_cross|length > 0 %}
    <h3>{% trans from "SonataProductBundle" %}sonata.product.cross_selling.title{% endtrans %}</h3>

    <div class="alert alert-default">
        <strong>This is a cross selling block</strong>
        <div>Feel free to override it. This template can be found in <code>SonataProductBundle:Product:view_similar.html.twig</code>.</div>
    </div>

    {% block similar_products %}
        <ul>
            {% for similar_product in similar_cross if similar_product.hasEnabledVariations or not similar_product.hasVariations%}
                {% block similar_product %}
                    <li class="span3">
                        {% include "SonataProductBundle:Product:view_thumbnail.html.twig" with {product: similar_product} %}
                    </li>
                {% endblock %}
            {% endfor %}
        </ul>
    {% endblock %}
{% else %}
    {% trans from "SonataProductBundle" %}sonata.product.cross_selling.no_match{% endtrans %}
{% endif %}
