<div class="col-md-3 welcome"><h2>Welcome</h2></div>
<div class="col-md-9">
    <p>
        This page is a demo of the Sonata Sandbox available on <a href="https://github.com/sonata-project/sandbox">github</a>.
        This demo try to be interactive so you will be able to found out the different features provided by the Sonata's Bundle.
    </p>

    <p>
        First this page and all the other pages are served by the <code>SonataPageBundle</code>, a page is composed by different
        blocks.
    </p>
</div>
