{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

<h2>Sonata Demo</h2>
<p class="handcraft">
    HANDCRAFTED IN PARIS<br/>
    WITH MIXED HERITAGE
</p>
<p>
    <a href="http://twitter.com/sonataproject" target="_blank">Follow Sonata on Twitter</a>
</p>