{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

<h4>COMMUNITY</h4>
<ul class="links">
    <li><a href="/blog">Blog</a></li>
    <li><a href="http://www.github.com/sonata-project" target="_blank">Github</a></li>
    <li><a href="/contact-us">Contact us</a></li>
</ul>
