<h4>COMMUNITY</h4>
<ul class="links">
    <li><a href="/blog">Blog</a></li>
    <li><a href="http://www.github.com/sonata-project" target="_blank">Github</a></li>
    <li><a href="/contact-us">Contact us</a></li>
</ul>
