<h4>ABOUT</h4>
<ul class="links">
    <li><a href="http://www.sonata-project.org/about" target="_blank">About Sonata</a></li>
    <li><a href="/legal-notes">Legal notes</a></li>
    <li><a href="/shop/payment/terms-and-conditions">Terms</a></li>
</ul>
