<h2>Sonata Demo</h2>
<p class="handcraft">
    HANDCRAFTED IN PARIS<br/>
    WITH MIXED HERITAGE
</p>
<p>
    <a href="http://twitter.com/sonataproject" target="_blank">Follow Sonata on Twitter</a>
</p>