{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% render controller("SonataProductBundle:Category:displayBreadcrumb", {'categoryId': category.id}) %}

<div class="alert alert-default">
    <strong>This is a category page</strong>
    <div>Feel free to override it. This file can be found in <code>SonataProductBundle:Category:view.html.twig</code>.</div>
</div>

<h1>{{ category.name }}</h1>
{% if category.media %}
    {% thumbnail category.media, 'reference' %}
{% endif %}

{% if category.description %}
    <p class="lead">
        {{ category.description|raw }}
    </p>
{% endif %}

{% if category.hasChildren %}
    {% render controller("SonataProductBundle:Category:listSubCategories", {'categoryId': category.id}) %}
{% endif %}

{% render controller("SonataProductBundle:Category:listProducts", {'categoryId': category.id}) %}
