{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends sonata_block.templates.block_base %}

{% block block %}
    {% if settings.title %}
        <h3>{{ settings.title }}</h3>
    {% endif %}

    <div class="alert alert-default">
        <strong>This is the timeline latest actions block</strong>
        <div>Feel free to override it. This file can be found in <code>SonataTimelineBundle:Block:timeline.html.twig</code>.</div>
    </div>

    <ul>
        {% for entry in entries %}
            {% set subject = entry.getComponent('subject') %}
            {% set target = entry.getComponent('target') %}
            {% set target_text_component = entry.getComponent('target_text') %}

            {% if subject.data %}
                {% set subject_text = sonata_timeline_generate_link(subject) %}
            {% else %}
                {% set subject_text = '<abbr title="reference: ' ~  subject.hash ~ '">element deleted</abbr>' %}
            {% endif %}

            {% if target.data is defined and target.data is not empty %}
                {% set target_text = sonata_timeline_generate_link(target) %}
            {% elseif target_text_component %}
                {% set target_text = '<abbr title="Element Deleted">'~target_text_component~'</abbr>' %}
            {% else %}
                {% set target_text = '<abbr title="reference: ' ~  target.hash ~ '">element deleted</abbr>' %}
            {% endif %}

            {% set verb = "actions."~entry.verb %}

            <li>
                {{ verb|trans({'%subject%': subject_text, '%target%': target_text}, "SonataTimelineBundle")|raw }}
            </li>
        {% else %}
            No action for now ...
        {% endfor %}
    </ul>
{% endblock %}
